
@{
    ViewBag.Title = "GenerateNameSortList";
}

<script type="text/javascript" language="javascript">
    var hashes = window.location.hash;
    hashes = hashes.replace('#', '?');
    if(hashes !== "")
        window.location = hashes;    
</script>

<h2>GenerateNameSortList</h2>

